*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
/*header*/
.girl{
  display: block;
  width: 100%;
  }
  .wide{
    max-width: 1366px;
    margin: 0 auto;
    background: floralwhite;
  }  
  .contaner{
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    background:rgb(252, 214, 2) ;  
  }
  .logotrai{
    display: flex;
    width: 27%;
  }
  .nut{
  border: none;
  background: none;
  font-size: 159%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'FontAwesome';
   font-weight: 500;
   cursor: pointer;
  }
  .nut a{
  color: rgb(228, 73, 16);
  text-decoration: none;
  }
  .nut a:hover{
    color: rgb(228, 73, 16);
  }
  
  .dropdown{
  position: relative;
  display: inline-block;
  margin-right: 2%;
  }
  .dropdown_items{
  display: none;
  background-color: white;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 36%);
    box-sizing: border-box;
    padding: 1rem;
    z-index: 3;
    position: fixed;
    transition: 3s ease-out;
    margin-top: 0.2%;
    width: 20%;
  }
  .dropdown_item{
  display: flex;
    align-items: flex-start;;
  }
  .dropdown_item a{
  text-decoration: none;
  color: black;
  }
  .dropdown_item a:hover{
  color:rgb(228, 73, 16) ;
  }
  .dropdown:hover .dropdown_items{
  display: block;
  }
  .dropdown_main_items .dropdown_item a{
  text-decoration: none;
  margin-left: 10px;
  }
  .food{
  display: flex;
  flex-direction: column;
  margin-right: 6%;
  width: 100%;
  }
  .food .list a{
  margin-left: 2%;
  margin-left: 2%;
  }
  .search{
    width: 70%;
    padding: 1%;
    background: #f5f5f5;
    border-radius: 1rem;
    padding: 2%;
  }
  .search:hover{
    border: 1px solid orangered;
    background: white;
  }
  .search i{
    width: 10%;
    color: black;
  }
  .search input{
    width: 90%;
    background: none;
    border: none;
    outline: none;
  }
  .logophai{
    width: 27%;
    margin-top: 1%;
    height: 3rem;
  }
  .logophai ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }
  .logophai ul li{
    margin-top: 1%;
  }
  .logophai ul li:hover{
    border-radius: 1rem;
    border: 1px solid darkgrey;
    padding-left: 3%;
    padding-right: 3%;
  }
  .logophai ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 100%;
  }
  .logophai .me{
    font-size: 147%;
    margin-top: -0.5%;
  }
  .logophai .me i{
    color: darkgrey;
  }
  .giohang{
    font-weight: 500;
    cursor: pointer;
  }
  .listgiohang{
    overflow: auto;
    display: none;
    position: fixed;
    background: white;
    margin-top: 1.46rem;
    padding: 0.5%;
    border-radius: 1rem;
    height: 30%;
    z-index: 2;
  }
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background: orangered;
    border-radius: 1rem;
  }
  .listgiohang img{
    width: 50%;
    border-radius: 1rem;
  }
  /*end dropdown*/
  .main_buy{
    width: 80%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .main_buy_box{
  display: flex;
  }
  .buy_img{
    margin-left: 2rem;
    margin-top: 2.5rem;
    width: 35%;
  }
  .main_buy_items{
    margin-left: 8.688rem;
    margin-top: -0.188rem;
    width: 35%;
  }
  .star{
    margin-bottom: 5px;
    margin-top: 8px;
    font-size: 20px;
  }
  .money{
    margin-top: 2%;
    font-size: 180%;
    font-weight: 700;
    background: orangered;
    color: white;
    height: 2rem;
    padding-left: 3%;
}
.container{
  display: block;
    position: relative;
    height: auto;
    width: auto;
}

h2 {
	color: #AAAAAA;
}
.size li{
  padding-top: 4%;
}
.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

.container ul li{
  color: black;
    display: block;
    position: relative;
    float: left;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 11px 5px 50px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: black;
}

ul li .check{
  display: block;
    position: absolute;
    border: 5px solid black;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    top: 5px;
    left: 7px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid orangered;
}

input[type=radio]:checked ~ .check::before{
  background: orangered;
}

input[type=radio]:checked ~ label{
  color: orangered;
}

.size{
    display: flex;
    margin-top: 10px;
}
.size a{
    height: 23px;
    width: 39px;
    border: 2px solid #6c757d;
    border-radius: 6px;
    margin-top: -3px;
    text-align: center;
    color: #6c757d;
    background: white;
}
.size a:hover{
    background: #6c757d;
    color: white;
}
.amount{
    display: flex;
    align-items: center;
}
.ship a{
    height: 23px;
    width: 39px;
    border: 2px solid #6c757d;
    border-radius: 6px;
    margin-top: -3px;
    text-align: center;
    color: #6c757d;
    background: white;
}
.ship a:hover{
    background: #6c757d;
    color: white;
}
.pay a{
    height: 23px;
    width: 39px;
    border: 2px solid #6c757d;
    border-radius: 6px;
    margin-top: -3px;
    text-align: center;
    color: #6c757d;
    background: white;
}
.pay a:hover{
    background: #6c757d;
    color: white;
}
.put input{
  padding: 2%;
    font-size: 100%;
    font-weight: 600;
    color: white;
    background: darkred;
}
/*footer*/
.footer{
  width: 100%;
  height: auto;
  background: #333;
  color: white;
  padding-bottom: 1%;
}
.footer .dongtren{
  display: flex;
  width: 80%;
  margin-left: 16%;
  margin-right: auto;
  font-size: 165%;
  padding-top: 2%;
  padding-bottom: 3%;
}
.footer .dongduoi{
  display: flex;
  width: 80%;
  margin-left: 16%;
  margin-right: auto;
}
.footer .dongduoi h2{
  color: white;
}
  /*end footer*/
  @media screen and (max-width:650px) {
    .wide{
        width: 100%;
        font-size: 70%;
    }
  .logotrai{
    width: 50%;
  }
    .logophai{
      font-size: 50%;
      margin-top: 2rem;
    }
    .main_buy_items .main_buy_item{
     font-size: 70%;
    }
  .footer{
    font-size: 60%;
  }
  .footer h2{
    font-size: 185%;
  }
  }
