:root {
	--color1: #ffd900;
}
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
li{
	list-style: none;
}
a{
  text-decoration: none;
  color: var(--color1);
}
.doan{
	width: 100vw;
	height: 100vh;
    background: url("https://dulichvietnam.com.vn/vnt_upload/news/11_2019/tinh-hoa-am-thuc-viet-nam-1_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.id{
	text-align: right;
	padding: 0;
}
header:before{
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background: rgba(0,0,0,0.5);
}
header input{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 12px;
	left: 12px;
	opacity: 0;
	z-index: 2;
    cursor: pointer;
	position: fixed;

}
header input:checked ~ .menu-icon .menu-line:before{
	transform: rotate(90deg);
	top: 0;
}
header input:checked ~ .menu-icon .menu-line:after{
	transform: rotate(90deg);
	top: 0;
}
header input:checked ~ .menu-icon .menu-line{
	transform: rotate(135deg);
	transition: 0.3s;
}header input:checked ~ .menu-item{
	right: 0;
}
.menu-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 12px;
	left: 12px;
	opacity: 1;
	z-index: 1;
	cursor: pointer;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

}
.menu-line{
	height: 4px;
	width: 100%;
    background: var(--color1);
    position: relative;
    display: block;
}
.menu-line:before{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	background: var(--color1);
	top: -14px;
}
.menu-line:after{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	background: var(--color1);
	top: 14px;
}
.menu-item{
	position: fixed;
	width: 300px;
	height: 100vh;
	background: black;
	top: 0;
	right: -100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s;
    font-size: 26px;
}
.menu-item li{
	line-height: 40px;

}
.menu-item li{
	color: var(--color1);
	cursor: pointer;
}
.header-text{
	position: absolute;

}
.header-text h1 {
    font-size: 50px;
    color: var(--color1);
    margin-bottom: 20px;
}
.header-text .xinchao{
	padding: 15px 40px;
	background: var(--color1);
	color: black;
	border-radius: 50px;
	font-size: 25px;
	opacity: 0.3;
	animation: headerAnimation;
	animation-duration: 1s;
	animation-iteration-count: infinite;  
	transition: 0.1s;
	outline: none;
}
.header-text .xinchao:hover{
	background: transparent;
	color: var(--color1);
	border: 2px solid color: var(--color1);
    outline: none;
}

@keyframes headerAnimation {
	0%{
		opacity: 0.4;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.4;
	}
}
/*about*/
.about {
	padding-top: 105px;
	padding-bottom: 100px;
  }
  .about__box {
	display: flex;
	justify-content: space-around;
	width: 1224px;
  }
	.about__image{
		width: 50%;
		margin-left: 150px;
	  }
	  .about__content{
		  width: 664px;
		  margin-top: 34px;
		  text-align: left;
	  }
	  .about__title{
		 font-size: 33px;
		 font-family: cursive;
	  }
	  .about__text{
		  margin-top: 23px;
		  font-size: 23px;
	  }
	  .button_bcg{
		  margin-top: 22px;
	  }
/*end about*/
/*footer*/
footer{
	background: black;
	color:white;
	text-align: center;
	width: auto;
	height: 101px;
	padding: 12px;
  }
  /*end footer*/


