:root {
	--color1: #ffd900;
}
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
li{
	list-style: none;
}
a{
  text-decoration: none;
  color: var(--color1);
}
.doan{
	width: auto;
	height: 100vh;
    background: url("https://dulichvietnam.com.vn/vnt_upload/news/11_2019/tinh-hoa-am-thuc-viet-nam-1_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.id{
	text-align: right;
	padding: 0;
}
header:before{
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background: rgba(3, 3, 3, 0.5);
}
header input{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 12px;
	left: 12px;
	opacity: 0;
	z-index: 2;
    cursor: pointer;
	position: fixed;

}
header input:checked ~ .menu-icon .menu-line:before{
	transform: rotate(90deg);
	top: 0;
}
header input:checked ~ .menu-icon .menu-line:after{
	transform: rotate(90deg);
	top: 0;
}
header input:checked ~ .menu-icon .menu-line{
	transform: rotate(135deg);
	transition: 0.3s;
}header input:checked ~ .menu-item{
	right: 0;
}
.menu-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 12px;
	left: 12px;
	opacity: 1;
	z-index: 1;
	cursor: pointer;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

}
.menu-line{
	height: 4px;
	width: 100%;
    background: var(--color1);
    position: relative;
    display: block;
}
.menu-line:before{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	background: var(--color1);
	top: -14px;
}
.menu-line:after{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	background: var(--color1);
	top: 14px;
}
.menu-item{
	position: fixed;
	width: 300px;
	height: 100vh;
	background:rgba(3, 3, 3, 0.3);
	top: 0;
	right: -100%;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s;
    font-size: 26px;
}
.menu-item li{
	color: var(--color1);
	cursor: pointer;
}
.menu-item img{
	width: 100px;
	
}
.header-text{
	position: absolute;

}
.header-text h1 {
    font-size: 50px;
    color: var(--color1);
    margin-bottom: 20px;
}
.header-text .xinchao{
	padding: 15px 40px;
	background: var(--color1);
	color: black;
	border-radius: 50px;
	font-size: 25px;
	opacity: 0.3;
	animation: headerAnimation;
	animation-duration: 1s;
	animation-iteration-count: infinite;  
	transition: 0.1s;
	outline: none;
}
.header-text .xinchao:hover{
	background: transparent;
	color: var(--color1);
	border: 2px solid color var(--color1);
    outline: none;
}

@keyframes headerAnimation {
	0%{
		opacity: 0.4;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.4;
	}
}
/*about*/
.about {
	padding-top: 105px;
  }
  .about__box {
	display: flex;
	justify-content: space-around;
	width: 1224px;
  }
	.about__image{
		width: 50%;
		margin-left: 150px;
	  }
	  .about__content{
		  width: 664px;
		  margin-top: 34px;
		  text-align: left;
	  }
	  .about__title{
		 font-size: 33px;
		 font-family: cursive;
	  }
	  .about__text{
		  margin-top: 23px;
		  font-size: 23px;
	  }
	  .button_bcg{
		  margin-top: 22px;
	  }
/*end about*/
/*footer*/
footer{
	background: rgb(51, 50, 50);
	color:white;
	width: 100%;
	height: 290px;
	display: block;
  }
  .container_footer{
	height: auto;
	width: 1000px;
	margin-left: 140px;
	margin-right: auto;
  }
  .container_footer_header{
	display: flex;
	text-align: center;
  }
  .footer_header{
	margin-top: 22px;
	display: flex;
  }
  .phone{
	width: 414px;
	font-size: 23px;
  }
  a{
	color: white;
  }
  a:hover{
	color: #FBBC01;
  }
  .email{
	width: 285px;
	font-size: 23px;
  }
  .footer_icon{
	font-size: 23px;
	margin-left: 70px;
  }
  .container_footer_main{
	display: flex;
	margin-top: 60px;
	text-align: center;
	margin-left: 10px;
  }
  .footer_main{
	margin-left: 120px;
  }
  .address{
	width: 178px;
  }
  /*end footer*/
  /*Popularity*/
  .main_Popularity{
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
	padding-bottom: 50px;
  }
.main_Popularity_box{
	grid-column: 2/12;
}
.title_Popularity{
	text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #2d2c2c;
    margin-top: -8px;
    text-transform: uppercase;
}
.main_Popularity_items{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.main_Popularity_item{
	width: 559px;
    margin-bottom: 55px;
    display: flex;

}
.Popularity_img{
	width: 188px;
    height: 76px;
}
.Popularity_img img{
	width: 100%;
}
.Popularity_content{
	padding-left: 10px;
}
.Popularity_content_title{
	margin-top: -5px;
	font-size: 30px;
	font-weight: 600;
}
.Popularity_content_prince{
	font-size: 18px;
    font-weight: 700;
    color: #fa9e1b;
    margin-top: 2px;
}
.Popularity_content_location{
	font-size: 15px;
    font-weight: 400;
    color: #929191;
    text-transform: uppercase;
    margin-top: 5px;
	width: 190px;
	margin-bottom: 23px;
}
hr{
	margin-bottom: 100px;
	width: 805px;
	margin-left: 150px;
	display: non	;}
  /*end Popularity*/
    /*testimonials*/
  .main_testimonials{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    background: rgb(75, 73, 73);
    margin-top: 57px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 127px;
	margin-bottom: 40px;
  }
.main_testimonials_box{
	grid-column: 2/12;
}
.title_testimonials{
	text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #fa9e1b;
    margin-top: -8px;
    text-transform: uppercase;
    margin-top: 38px;
    margin-bottom: 38px;
}
.main_testimonials_items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.main_testimonials_item{
  width: 300px;
  margin-left: 33px;
}
.main_testimonials_item img{
  height: 370px;
  width: 249px;
  border: 2px solid #dadadd;
}
.testimonials_content_container{
  margin-top: -121px;
  background: rgba(57, 57, 94, 0.952);
  position: absolute;
  width: 249px;
  height: 117px; 
  margin-left: 0px;
}
h4{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  margin-top: 20px;
  text-transform: uppercase;
}
.testimonials_content{
  width: 100%;
  height: 100%;
}

.testimonials_title{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
  color: white;
}
.testimonials_text{
  font-size: 21px;
  margin-left: 12px;
  color: white;
}
.name_test{
  width: auto;
}
.data_test{
  width: auto;
}
/*end testimonials*/
  

