*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/*header*/
.container .content_header .logo_header a img {
  height: auto;
  width: 97px;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
header{
  background: black;
  height: 98px;
  width: auto;
}
header .container .content_header{
  display: flex;
  align-items: center;
}
header .container .content_header .logo_header{
    flex-basis: 10%;
}
header .container .content_header .menu_header nav .nav_link li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
header .container .content_header .menu_header nav .nav_link li a{
text-decoration: none;
color: #FBBC01;
font-weight: 400px;
font-family: cursive;

}
header .container .content_header .menu_header{
  flex-basis: 80%;
  font-size: 69px;
  margin-left: 385px;
}
/*end header*/

.body_product{
  padding: 30px 0;
}
.body_product .container .title{
  width: 100%;
  text-align: center;
  background: black;
  padding: 15px 0;

}
.body_product .container .title h3{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FBBC01;
} 
.body_product .container .show_product{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.body_product .container .show_product .card{
  flex-basis: 18%;
  margin: 10px 5px;
}
.body_product .container .show_product .card .item{
  position: relative;
  display: block;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;  
}
.body_product .container .show_product .card .item .img img{
  width: 232px;
  height: 150px;
}
.body_product .container .show_product .card .item .text{
text-align: left;
padding: 5px 0;
}
.body_product .container .show_product .card .item .text h3{
font-weight: 400;
font-size: 20px;
}
.body_product .container .show_product .card .item .text p{
font-weight: 500;
margin: 5px 0; 
}
.body_product .container .show_product .card .item .color{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.body_product .container .show_product .card .item .color span{
  width: 20px;
  height: 20px;
  background: black;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px black; 
}

.body_product .container .show_product .card .item .button{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  text-align: center;
  opacity: 0;
  transition: 0.5 ease-out;
}
.body_product .container .show_product .card .item:hover .button{
  opacity: 1;
  top: 50%;
}
.body_product .container .show_product .card .item .button a{
  display: inline-block;
  margin: 0 4px;
  padding: 10 15px;
  background: black;
  color: #ffff;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.5s;
}
.body_product .container .show_product .card .item .button a:hover{
  background: yellow
}
/* end body product one*/
/*footer*/
footer{
  background: black;
  color:white;
  text-align: center;
  width: auto;
  height: 80px;
  padding: 12px;
}
/*end footer*/






  


