body
{
	background-position: top center;
	background-size: contain;
	background: url(http://file.vforum.vn/hinh/2016/08/tong-hop-nhung-hinh-anh-dep-ve-da-nang-48.jpg);
	width: auto;
	height: auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
form{
	text-align: center;
}
h1
{
	color: yellow;
	font-size: 40px;
	text-shadow: 1px 1px 2px black;
}
.logo
{
height: 100px;
display: block;
}
#mainpage
{ 
	border:5px solid black;
	position: relative;
	width: 813px;
	height: 461px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 62px;
	background: rgba(2, 2, 2, 0.375);
}
input
{
	width: 350px;
	height: 25px;
	margin: 10px;
	border-radius: 30px;
	padding: 5px 12px;
	outline: none;
}
#b1
{
	width: 250px;
	height: 30px;
	margin-bottom: 8px;
	background-color: black;
	color: white;
	font-size: 17px;
	margin-top: 20px;
	border-radius: 25px 25px 0px 0px;
}
#b2
{
	width: 250px;
	height: 30px;
	margin-top: 8px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	font-size: 17px;
	border-radius: 0px 0px 25px 25px;
}
#a1
{
	font-size: 18px;
}
a
{
	text-decoration: none;
}
i
{
	font-size: 20px;
	padding-top: 7px;
}
.all{
	display: flex;
	flex-direction:column ;
	width: 405px;
	margin-left: auto;
	margin-right: auto;
}	
.btnfa{
	background: #3B5998;
	color: white;
	margin-bottom: 5px;
	padding: 2px;
	border-radius: 4px;
	font-size: 18px;
}
.btnfa:hover{
	background: white;
	color: black;
}
.btntw{
	background: #55ACEE;
    color: white;
	margin-bottom: 5px;
	padding: 2px;
	border-radius: 4px;
	font-size: 18px;
}
.btntw:hover{
	background: white;
	color: black;
}
.btngg{
	background: #dd4b39;
	color: white;
	margin-bottom: 5px;
	padding: 2px;
	border-radius: 4px;
	font-size: 18px;
}
.btngg:hover{
    background: white;
	color: black;
}
